<h2 style="padding: 40px 60px 40px 40px;">This site uses an online data API to randomly select five products and quiz you on the nutrition label information. If you find that sort of thing fun:</h2>

<h1 style="text-align: center;"><%= link_to "Try Some Quiz Questions", 'quests' %></h1>

<h2 style="padding: 40px 60px 40px 40px;">Results are based on the percentage of the serving size listed on the nutrition information label.</h2>
