#mobile-header {
  padding: 0;
  background: #b1b3d4;
  width: 100%;
  font-weight: 100;
  box-sizing: content-box;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
}
#mobile-header h1 {
  font-family: 'Indie Flower',Arial, sans-serif;
  text-align: center;
  margin-bottom: -0.7em;
  color: #ffffff;
  font-size: 5em;
}
#mobile-header h2 {
  text-align: center;
  font-size: 3em;
  margin-bottom: -0.2em;
  color: #333333;
}

.mobile-scale-for-fb {
    transform: scale(3);
    -webkit-transform: scale(3);
    -moz-transform: scale(3);
    -ms-transform: scale(3);
}

#mobile-footer {
  background: #b1b3d4;
  width: 100%;
  text-align: center;
  color: #eeeeee;
  overflow: auto;
  margin: 0;
  padding: 0;
  box-sizing: content-box;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
}
#mobile-footer ul {
  list-style-type: none;
  margin-left: 20%;
}
#mobile-footer ul li {
  font-family: 'Indie Flower',Arial, sans-serif;
  font-size: 3.5em;
  display: block;
  float: left;
}
#mobile-footer ul li a {
  display: block;
  padding: 10px 10px 0px 10px;
  text-decoration: none;
  color: #333333;
  font-weight: 100;
}
#mobile-footer ul li a:hover {
  color: #333333;
  background: #b1b3d4;
}
#mobile-footer p { line-height: 3em; margin: 0; }
#mobile-footer a { color: #fff; }
#mobile-footer a:hover { text-decoration: underline; }
