@import "//fonts.googleapis.com/css?family=Archivo+Black|Indie+Flower";

body {
  font-family: 'Archivo', Arial, sans-serif;
  font-size: 16px;
  font-size: 1em;
  background: #cccef4;
  margin: 0;
  padding: 0;
  color: #112211;
}

a {
  color: #000000;
  text-decoration: none;
}
a:hover { text-decoration: underline;}

#wrap {
  width: 650px;
  padding: 0;
  margin: 10px auto;
}

#header {
  border-width: 1px;
  border-color: #ffffff;
  border-style: solid;
  border-radius: 50px 50px 5px 5px;
  background: #b1b3d4;
  width: 650px;
  min-height: 100px;
  font-weight: 100;
  box-sizing: content-box;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
}
#header h1 {
  font-family: 'Indie Flower',Arial, sans-serif;
  margin: 0;
  padding: 30px 60px 0 30px;
  color: #ffffff;
  font-size: 31px;
  letter-spacing: -1px;
  line-height: 27px;
}
#header h2 {
  font-size: 21px;
  padding: 0 0 0 40px;
  margin: 0;
  color: #333333;
}

#menu {
  height: 30px;
  line-height: 30px;
}
#menu ul {
  list-style-type: none;
  margin: 0;
  padding-left: 170px;
}
#menu ul li {
  font-family: 'Indie Flower',Arial, sans-serif;
  font-size: 18px;
  display: block;
  float: left;
}
#menu ul li a {
  display: block;
  padding: 0 10px 0 10px;
  text-decoration: none;
  color: #333333;
  font-weight: 100;
}
#menu ul li a:hover {
  color: #333333;
  background: #b1b3d4;
}

#content {
  border-width: 1px;
  border-color: #ffffff;
  border-style: solid;
  border-radius: 5px 5px 0px 0px;
  background: #b1b3d4;
  width: 650px;
  min-height: 460px;
  text-align: left;
  font-weight: 100;
  font-size: 16px;
  color: #333333;
  box-sizing: content-box;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
}
#content h1 {
  color: #ffffff;
  font-weight: 100;
  font-size: 27px;
  padding: 5px 40px 0px 40px;
}
#content h2 {
  padding: 0px;
}
#content input {
  border-width: 0px;
  background: #b1b3d4;
  color: #454545;
  padding: 0px;
}
#content p {
  color: #454545;
  font-weight: bold;
  padding: 1px 20px 1px 20px;
}
.pointsvalue {
  color: #000000;
  float: right;
  text-align: right;
}

#footer {
  border-width: 1px;
  border-color: #ffffff;
  border-style: solid;
  border-radius: 0px 0px 50px 50px;
  background: #b1b3d4;
  width: 650px;
  text-align: center;
  color: #eeeeee;
  overflow: auto;
  box-sizing: content-box;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
}
#footer p { line-height: 30px; margin: 0; }
#footer a { color: #fff; }
#footer a:hover { text-decoration: underline; }
