#content {
  border-width: 1px;
  border-color: #ffffff;
  border-style: solid;
  border-radius: 5px 5px 0px 0px;
  background: #b1b3d4;
  width: 650px;
  min-height: 460px;
  text-align: left;
  font-weight: 100;
  font-size: 16px;
  color: #333333;
  box-sizing: content-box;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
}
#content h1 {
  color: #ffffff;
  font-weight: 100;
  font-size: 27px;
  padding: 5px 40px 0px 40px;
}
#content h2 {
  padding: 0px;
}
#content h3 {
  font-size: 16px;
  font-weight: normal;
  padding: 5px 20px 0px 20px;
}
#content p {
  color: #454545;
  font-weight: bold;
  padding: 1px 20px 1px 20px;
}
#content input {
  border-width: 0px;
  background: #b1b3d4;
  color: #454545;
  font-size: 16px;
  padding: 0px;
}
.brand {
  font-weight: normal;
  color: #555666;
}
.pointsvalue {
  color: #000000;
  float: right;
  text-align: right;
}
