#login {
  border-width: 1px;
  border-color: #000000;
  border-style: solid;
  border-radius: 12px;
  background-color: #ffffff;
  width: 550px;
  padding: 0px 3px 3px 2px;
  margin-left: 50px;
  margin-top: 10px;
}
#login h1 {
  font-size: 14px;
  font-weight: bolder;
  color: #333333;
  text-align: center;
  padding: 2px 0px 2px 0px;
}
#login input {
  border-width: 1px;
  border-radius: 6px;
  background: #ffffff;
  font-size: 12px;
  font-weight: bolder;
  text-align: center;
  color: #454545;
  padding: 5px;
  margin: 10px 10px 4px 10px;
}
