#mobile-header {
  padding: 0;
  background: #b1b3d4;
  width: 100%;
  font-weight: 100;
  box-sizing: content-box;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
}
#mobile-header h1 {
  font-family: 'Indie Flower',Arial, sans-serif;
  text-align: center;
  margin-bottom: -0.7em;
  color: #ffffff;
  font-size: 5em;
}
#mobile-header h2 {
  text-align: center;
  font-size: 2em;
  margin-bottom: -0.2em;
  color: #333333;
}


#mobile-content {
  background: #b1b3d4;
  width: 100%;
  text-align: left;
  color: #333333;
  padding: 0px;
  box-sizing: content-box;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
}
#mobile-content h1 {
  color: #ffffff;
  font-weight: 100;
  font-size: 3.5em;
  text-align: center;
  margin: 0.2em;
}
#mobile-content input {
  border-width: 2px;
  border-radius: 15px 15px 15px 15px;
  border-color: #ffffff;
  border-style: solid;
  background: #b1b3d4;
  color: #454545;
  font-size: 2em;
  font-weight: 100;
}
#mobile-content p {
  color: #454545;
  font-size: 3em;
  font-weight: bold;
}
#mobile-content a {
  border-width: 2px;
  border-radius: 15px 15px 15px 15px;
  border-color: #ffffff;
  border-style: solid;
}

#mobile-nutri-label {
  border-width: 6px;
  border-color: #000000;
  border-style: solid;
  border-radius: 12px;
  width: 85%;
  min-height: 250px;
  padding: 0px 3px 3px 2px;
  margin-bottom:10px;
  margin-left: 7%;
}
#mobile-nutri-label a {
  border-width: 0;
}
#mobile-nutri-bar-thick {
  border-top: thick solid;
  margin-top: 2px;
  margin-bottom: -15px;
}
#mobile-nutri-label h2 {
  font-size: 3em;
  font-weight: bolder;
  text-align: center;
  margin-top: -3px;
  margin-bottom: -3px;
}
/* Name Info */
#mobile-nutri-label h3 {
  font-size: 2em;
  font-weight: normal !important;
  color: #333333;
  text-align: left;
  margin-left: 4px;
  margin-right: 4px;
  margin-top: -2px;
  margin-bottom: -2px;
}
/* Bold Line Items */
#mobile-nutri-label h4 {
  font-size: 2em;
  font-weight: bold;
  text-align: left;
  text-indent: 8px;
  margin-top: -1px;
  margin-bottom: -1px;
  border-top: thin solid;
  overflow: auto;
}
/* Lighter Line Items */
#mobile-nutri-label h5 {
  font-size: 2em;
  font-weight: 100;
  text-align: left;
  text-indent: 40px;
  margin-top: -2px;
  margin-bottom: -2px;
  border-top: thin solid;
  overflow: auto;
}
/* Lighter Line Items for stats */
#mobile-nutri-label h6 {
  font-size: 2em;
  font-weight: 100;
  text-align: left;
  margin-top: -1px;
  margin-bottom: -1px;
  border-top: thin solid;
  overflow: auto;
}
.mobile-nutrivalue {
  font-size: 1.5em;
  font-weight: 100;
  color: #000000;
  float: right;
  text-align: right;
}

#mobile-stats-block {
  border-width: 4px;
  border-color: #000000;
  border-style: solid;
  border-radius: 2em;
  width: 80%;
  padding: 0px 3px 3px 2px;
  float: right;
}
#mobile-stats-header {
  font-family: 'Indie Flower',Arial, sans-serif;
  font-size: 3em !important;
  font-weight: normal;
  text-align: center;
  margin-left: 2px;
  margin-right: 2px;
  margin-top: -3px;
  margin-bottom: -14px;
}
#mobile-stats-light {
  font-size: 11px;
  text-align: left;
  margin-left: 2em;
  margin-right: 8px;
  margin-top: -3px;
  margin-bottom: -11px;
  border-top: thin solid;
}

.mobile-scale-for-fb {
    transform: scale(3);
    -webkit-transform: scale(3);
    -moz-transform: scale(3);
    -ms-transform: scale(3);
}

#mobile-footer {
  background: #b1b3d4;
  width: 100%;
  text-align: center;
  color: #eeeeee;
  overflow: auto;
  margin: 0;
  padding: 0;
  box-sizing: content-box;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
}
#mobile-footer ul {
  list-style-type: none;
  margin-left: 20%;
}
#mobile-footer ul li {
  font-family: 'Indie Flower',Arial, sans-serif;
  font-size: 3.5em;
  display: block;
  float: left;
}
#mobile-footer ul li a {
  display: block;
  padding: 0 10px 0 10px;
  text-decoration: none;
  color: #333333;
  font-weight: 100;
}
#mobile-footer ul li a:hover {
  color: #333333;
  background: #b1b3d4;
}
#mobile-footer p { line-height: 3em; margin: 0; }
#mobile-footer a { color: #fff; }
#mobile-footer a:hover { text-decoration: underline; }
