@import "//fonts.googleapis.com/css?family=Archivo+Black|Indie+Flower";

body {
font-family: 'Archivo', Arial, sans-serif;
font-size: 12px;
background: #cccef4;
margin: 0;
color: #112211;
}

a { color: #ffffff; text-decoration: none;}
a:hover { text-decoration: underline; }

#wrap {
  width: 650px;
  padding: 0;
  margin: 10px auto;
}

#header {
  border-width: 1px;
  border-color: #ffffff;
  border-style: solid;
  border-radius: 50px 50px 5px 5px;
  background: #b1b3d4;
  width: 650px;
  min-height: 120px;
  padding: 0px 3px 3px 2px;
  font-weight: 100;
  box-sizing: content-box;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
}
#header h1 {
  font-family: 'Indie Flower',Arial, sans-serif;
  margin: 0;
  padding: 40px 60px 0 40px;
  color: #ffffff;
  font-size: 31px;
  letter-spacing: -1px;
  line-height: 27px;
}
#header h2 {
  font-size: 21px;
  padding: 0 0 0 40px;
  margin: 0;
  color: #333333;
}

#menu {
  height: 40px;
  line-height: 40px;
}
#menu ul {
  list-style-type: none;
  margin: 0;
  padding-left: 30px;
}
#menu ul li {
  font-family: 'Indie Flower',Arial, sans-serif;
  font-size: 18px;
  display: block;
  float: left;
}
#menu ul li a {
  display: block;
  padding: 0 10px 0 10px;
  text-decoration: none;
  color: #333333;
  font-weight: 100;
}
#menu ul li a:hover {
  color: #333333;
  background: #b1b3d4;
}

#content {
  border-width: 1px;
  border-color: #ffffff;
  border-style: solid;
  border-radius: 5px 5px 0px 0px;
  background: #b1b3d4;
  width: 650px;
  min-height: 450px;
  text-align: left;
  color: #333333;
  box-sizing: content-box;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
}
#content h1 {
  color: #ffffff;
  font-weight: 100;
  font-size: 27px;
  padding: 5px 40px 0px 40px;
}
#content input {
  border-width: 1px;
  border-radius: 5px 5px 5px 5px;
  border-color: #ffffff;
  border-style: solid;
  background: #b1b3d4;
  color: #454545;
  font-weight: 100;
  padding: 1px 12px 1px 12px;
}
#content p {
  color: #454545;
  font-weight: bold;
  padding: 1px 20px 1px 20px;
}

#nutri-label {
  border-width: 3px;
  border-color: #000000;
  border-style: solid;
  border-radius: 12px;
  width: 200px;
  min-height: 250px;
  padding: 0px 3px 3px 2px;
  margin-bottom:10px;
  margin-left:75px;
  float: left;
  box-sizing: content-box;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
}
#nutri-bar-thick {
  border-top: thick solid;
  margin-top: 2px;
  margin-bottom: -15px;
}
#nutri-label h2 {
  font-size: 18px;
  font-weight: bolder;
  text-align: center;
  margin-top: -3px;
  margin-bottom: -3px;
}
/* Name Info */
#nutri-label h3 {
  font-size: 12px;
  font-weight: normal !important;
  color: #333333;
  text-align: left;
  margin-left: 4px;
  margin-right: 4px;
  margin-top: -2px;
  margin-bottom: -2px;
}
/* Bold Line Items */
#nutri-label h4 {
  font-size: 11px;
  font-weight: bold;
  text-align: left;
  text-indent: 4px;
  margin-top: -1px;
  margin-bottom: -1px;
  border-top: thin solid;
  overflow: auto;
}
/* Lighter Line Items */
#nutri-label h5 {
  font-size: 11px;
  font-weight: 100;
  text-align: left;
  text-indent: 20px;
  margin-top: -2px;
  margin-bottom: -2px;
  border-top: thin solid;
  overflow: auto;
}
/* Lighter Line Items for stats */
#nutri-label h6 {
  font-size: 12px;
  font-weight: 100;
  text-align: left;
  margin-top: -1px;
  margin-bottom: -1px;
  border-top: thin solid;
  overflow: auto;
}
.nutrivalue {
  font-weight: 100;
  float: right;
  text-align: right;
}

#stats-block {
  border-width: 3px;
  border-color: #000000;
  border-style: solid;
  border-radius: 12px;
  width: 300px;
  padding: 0px 3px 3px 2px;
  float: right;
  box-sizing: content-box;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
}
#stats-header {
  font-family: 'Indie Flower',Arial, sans-serif;
  font-size: 18px !important;
  font-weight: normal;
  text-align: center;
  margin-left: 2px;
  margin-right: 2px;
  margin-top: -3px;
  margin-bottom: -14px;
}
#stats-light {
  font-size: 12px;
  text-align: left;
  margin-left: 12px;
  margin-right: 8px;
  margin-top: -3px;
  margin-bottom: -11px;
  border-top: thin solid;
}

#footer {
  border-width: 1px;
  border-color: #ffffff;
  border-style: solid;
  border-radius: 0px 0px 50px 50px;
  background: #b1b3d4;
  width: 650px;
  max-height: 60px;
  text-align: center;
  color: #eeeeee;
  padding: 5px 3px 3px 2px;
  box-sizing: content-box;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
}
#footer p { padding: 0; margin: 0; }
#footer a { color: #fff; }
#footer a:hover { text-decoration: underline; }
